Repository jonathan-vella/microsoft-sovereign-cloud-brain-trek, changes with the labels that .github/labeler.yml gives for each.
All labels: level-100, level-200, level-300, documentation, labs, quizzes, visual-assets, azure-local, azure-arc, edge-rag, sovereignty, security, cost-optimization, github-actions, jekyll-config, dependencies, contributing-guides, automation, designer-assets, resources, root-docs

level 50 first commit
  docs/level-50/README.md
  docs/level-50/VISUAL_SPECIFICATIONS.md
  docs/level-50/cloud-computing-primer.md
  docs/level-50/comprehensive-knowledge-check.md
  docs/level-50/microsoft-azure-overview.md
  docs/level-50/module-01-cloud-computing.md
  docs/level-50/module-02-security-compliance.md
  docs/level-50/module-03-azure-intro.md
  docs/level-50/security-compliance-basics.md
Labels: documentation, quizzes, visual-assets, security

update config
  _config.yml
Labels: documentation, jekyll-config

Add Microsoft 365 Local overview and benefits to documentation
  docs/introduction.md
  docs/level-100/azure-local-overview.md
  docs/level-100/sovereign-private-cloud.md
Labels: level-100, documentation, azure-local, sovereignty

Remove redundant titles from Azure Arc and Azure Local documentation to streamline content presentation.
  docs/level-200/arc-advanced-management.md
  docs/level-200/azure-local-architecture-deep-dive.md
Labels: level-200, documentation, azure-local, azure-arc

Refactor documentation titles and hierarchy for clarity and consistency across Azure Local and Arc Management sections.
  docs/level-200/arc-advanced-knowledge-check.md
  docs/level-200/arc-advanced-management.md
  docs/level-200/arc-cost-optimization.md
  docs/level-200/arc-enterprise-patterns.md
  docs/level-200/arc-policy-and-governance.md
  docs/level-200/azure-local-advanced-networking.md
  docs/level-200/azure-local-architecture-deep-dive.md
  docs/level-200/azure-local-deep-dive-knowledge-check.md
  docs/level-200/azure-local-ha-patterns.md
  docs/level-200/azure-local-hardware-planning.md
  docs/level-200/module-01-azure-local.md
  docs/level-200/module-02-arc.md
Labels: level-200, documentation, quizzes, azure-local, azure-arc

Updates Role / Level suggestions.
  README.md
Labels: documentation, contributing-guides

.github/labeler.yml:

# Labeler configuration for automatic PR labeling based on changed paths
# Documentation: https://github.com/actions/labeler

# Learning Levels
level-100:
  - changed-files:
    - any-glob-to-any-file: 'docs/level-100/**/*'

level-200:
  - changed-files:
    - any-glob-to-any-file: 'docs/level-200/**/*'

level-300:
  - changed-files:
    - any-glob-to-any-file: 'docs/level-300/**/*'

# Content Types
documentation:
  - changed-files:
    - any-glob-to-any-file: ['*.md', '!.github/**/*.md']
    - any-glob-to-any-file: 'docs/**/*.md'

labs:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/lab-*.md'

quizzes:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/*knowledge-check.md'

visual-assets:
  - changed-files:
    - any-glob-to-any-file: 'docs/assets/**/*'
    - any-glob-to-any-file: 'docs/**/VISUAL_SPECIFICATIONS.md'

# Technology/Module Areas
azure-local:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/azure-local*.md'
    - any-glob-to-any-file: 'docs/**/module-*-azure-local.md'

azure-arc:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/azure-arc*.md'
    - any-glob-to-any-file: 'docs/**/arc-*.md'
    - any-glob-to-any-file: 'docs/**/module-*-arc.md'

edge-rag:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/edge-rag*.md'
    - any-glob-to-any-file: 'docs/**/rag-*.md'

sovereignty:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/digital-sovereignty*.md'
    - any-glob-to-any-file: 'docs/**/sovereign*.md'
    - any-glob-to-any-file: 'docs/**/cloud-models*.md'
    - any-glob-to-any-file: 'docs/**/regulatory*.md'
    - any-glob-to-any-file: 'docs/**/compliance*.md'
    - any-glob-to-any-file: 'docs/**/gdpr*.md'

security:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/security*.md'
    - any-glob-to-any-file: 'docs/**/*-security-*.md'

cost-optimization:
  - changed-files:
    - any-glob-to-any-file: 'docs/**/cost*.md'

# Infrastructure & Configuration
github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**/*'
    - any-glob-to-any-file: '.github/labeler.yml'

jekyll-config:
  - changed-files:
    - any-glob-to-any-file: ['_config.yml', 'Gemfile', 'Gemfile.lock']
    - any-glob-to-any-file: 'docs/_includes/**/*'
    - any-glob-to-any-file: 'docs/_layouts/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['Gemfile', 'Gemfile.lock', 'package.json', 'package-lock.json']
    - any-glob-to-any-file: '.github/dependabot.yml'

# Project Management & Process
contributing-guides:
  - changed-files:
    - any-glob-to-any-file: ['CONTRIBUTING.md', 'README.md', 'CHANGELOG.md']
    - any-glob-to-any-file: '.github/CODEOWNERS'
    - any-glob-to-any-file: '.github/ISSUE_TEMPLATE/**/*'

automation:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'
    - any-glob-to-any-file: 'AUTOMATION.md'

designer-assets:
  - changed-files:
    - any-glob-to-any-file: '.github/*DESIGNER*.md'
    - any-glob-to-any-file: '.github/VISUAL_ASSET_PROCESS.md'

# Resources & References
resources:
  - changed-files:
    - any-glob-to-any-file: 'docs/resources/**/*'

# Root Documentation
root-docs:
  - changed-files:
    - any-glob-to-any-file: ['HANDOFF.md', 'JEKYLL_PREP.md', 'GITHUB_PAGES_SETUP.md']
